*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

header {
    background: #3A1E2A;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #7B907B;
    padding: 0;

}

nav{
    background-color: #7A5E6A;
    width: 100%;
    position: sticky;
    top: 0;
}

.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

li a{
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

footer {
    background-color: #3B1E2B;
    text-align: center;
    padding: 10px;
}

li a:hover{
    background-color: #111;
}

.email-link{
    color: #A8D0D7;
    text-decoration: none;
}

.content{
    display: block;
    flex: 1;
}

.content div{
    padding: 400px;
}