*{
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(#ffbbbb, black);
    text-align: left;
    background-color: rgb(35, 35, 35);
    font-family: Helvetica, sans-serif;
    color: white;
    padding: 0px;
    margin: 0px;

}

@media screen and (min-width: 880px){
    #work {
        display: grid;
        grid-template-columns: fit-content(80%);
        gap: 20px;
    }
}
@media screen and (max-width: 880px){} {
    body {
    display: flex;
    flex-direction: column;
    }
}

#homepage-link {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
section {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
}
article {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
}
ul {
    list-style: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
li {
    float: left;
}
a {
    color: rgb(168, 208, 215);
    text-decoration: none;
}
a.nav-element {
    color: white;
    text-decoration: none;
}
li a {
    display: block;
    color: rgb(168, 208, 215);
    padding: 20px;
    text-decoration: none;
}
iframe, video, img{
    aspect-ratio: 16/9;
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    max-width: 600px;
    border-radius: 20px;
}
footer{
    display: flex;
    justify-content: center;
}
.centered{
    padding: 20px;
    text-align: center;
}