*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    color: white;
}

header {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

body {
    text-align: center;display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: dimgray;
    padding: 0;

}

nav{
    background-color: grey;
    width: 100%;
}

.nav-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li a{
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
}

li a:hover{
    background-color: #111;
}

.email-link{
    color: deepskyblue; /* Blue color for the link */
    text-decoration: none; /* Remove underline */
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}